@media (max-width: 768px) {
.menu-links{
  display: none;
}
.btn-mobile-nav{
  display: block;
}
.icon-mobile-nav {
  cursor: pointer;
}
.menu-links {
  display: flex; /* Show the menu links when the mobile toggle button is clicked */
  background-color:   #041f31; /* Background color for the menu on smaller screens */
  gap: 2rem;
  align-items: center;
  justify-content: center;
 height:50% ;
 width: 50%;
 flex-direction: column;
 transition: all 0.5s ease-in;
 opacity: 0;
 pointer-events: none;
 visibility: hidden;
 position: absolute;
 backdrop-filter: blur(10px);
 transform: translateX(100%);

}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}
}

@media (max-width: 600px) {
  #myProject{
    width: 200px;
    border-radius: 5px;
  }
}

@media (max-width: 480px){
  body{
    width: auto;
  }
  .mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
column-gap: 1rem;
  }
  .img {
    width: auto;
    border-radius: 5px;
    padding-bottom: 15rem;
  } 
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--gradient, linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  h5 {
    color: #D7E5EC;
    font-family: Tinos;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
 
 .about {
  margin-top: 5rem;
 }

  .project {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #myProject{
    width: 250px;
    border-radius: 5px;
  }

  input,
  textarea,
  button {
    width: 300px;
    padding-inline: 8px;
    padding-block: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
  }
 
}